body {
    overflow: hidden;
}
.perro_img {
    width: 510px;
    position: relative;
    top: 5px;
    left: -5px;
}

.contenedor {
    position: relative;
    left: 12%;
    top: -610px;
}

.fila {
    display: flex;
    justify-content: center;
}

.imagen {
    width: 19%; /* Ancho de las imágenes */
    height: auto; /* Altura se ajusta al contenido */
    margin-left: 100px;
    margin-right: 100px;
}

.imagen.grande {
    width: 19%; /* Ancho de la imagen grande */
    margin-top: 20px;
}

/* -------------------------------- */
@media (max-width: 600px) {
    .perro_img {
        width: 200px;
        position: relative;
        left: 25%;
        top: 12px;
        border-radius: 20%;
    }
}
